.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


div, button {
  margin: 10px;
}

input,  button{
  width: fit-content;
  padding: 0.5rem 1rem;
  min-width:5rem;
}

.flex-div-center{
  display:flex;
  align-items: center;
}

.flex-div{
  display:flex;
}

td{
    text-align: left;
}

.active-track td{ 
  color: #00ff00;
 }
