@import 'foundation-sites/scss/foundation.scss';


body{
  background-color: rgb(33, 34, 35);
  color: white;
  font-family: 'Arimo', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header{
  border-bottom: 0.5px solid white;
  display:flex;
  justify-content: space-between;
  min-height: 5rem;
}
.header h1, h4{
  padding: 0 1rem;
}

.body-content{
  padding: 2rem;
}

input{
  width: 100%;
  max-width: 10rem;
  min-width: 3rem;
}
button{
  width: fit-content;
  padding: 0.5rem 1rem;
  min-width:5rem;
}

.flex-div-center{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-div{
  display:flex;
}

.flex-justify-center{
  display:flex;
  justify-content: center;
}

.flex-ultimate-center{
  display:flex;
  justify-content:center;
  align-items:center;
}

table{margin:auto;}
table tr td, th{
    text-align: left;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
tr{
    border-bottom: 1px solid white;
}

.active-track td{ 
  color: #1db954;
 }
 .active-track td:hover{ 
  color: #15843c;
 }

 .user-id-input-container { 
    min-height: 5rem;
    flex-wrap: wrap;

    .added-user-id {
      margin: 0.5rem;
    }
    div{
      height:fit-content;
    }
}

 .get-user-id-container, .created-container, .content-container{
  border: 3px solid white;
  border-radius: 2rem;
  padding: 2rem;
  max-width: 70%;
  width:100%;
  margin:auto;
}

.row{
  padding: 0.5rem 0;
}

input {
  background: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0 1rem;
}

input:focus {
    outline: none !important;
    border:2px solid #1db954;
    box-shadow: 0 0 5px #1db954;
}

.instructions{
  font-size: 1.5rem;
}

.button{
  cursor: pointer;
  width: fit-content;
  padding: 0.25rem 0;
  user-select: none;
}

.button:hover{
  color: #1db954;
  svg{fill: #1db954;}
}

.plus-button { font-size: 2rem; }

.text-with-arrow svg{
  margin-left: 1rem;
}

.right-aligned-content{
  width:100%;
  display:flex;
  justify-content: flex-end;
  div{margin-left: 0.5rem;}
}
.right-arrow-icon{
    width: 2rem;
    height: 2rem;
    fill: white;
}
.right-arrow-icon:hover{ fill: #1db954;}

.up-arrow{
  transform: rotate(-90deg);
}
.down-arrow{
  transform: rotate(90deg);
}
.left-arrow{
  transform: rotate(180deg);
  margin-right: 0.5rem;
}

.filter-container{
  display:flex;
  justify-content: space-around;
  max-width: 70%;
  margin:auto;
}

.sort-filters-container{
  display:flex;
  align-items:center;
  button {
    margin: 0 0.5rem;
  }
  .right-arrow-icon {
    width: 1rem;
    height: 1rem;

  }

  button {
    border: 1px white solid;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    min-width: 8rem;
    min-height: 2.4rem;
    background-color: transparent;
    display:flex;
    align-items:center;
    color: white;
    justify-content: center;
  }
}

.user-name-tile { 
    border: 1px white solid;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    min-width: 5rem;
    text-align: center;
}

.hover-item, .no-select{user-select: none;}
.hover-item:hover{
  border-color: #1db954;
  box-shadow: 0 0 2px #1db954;
}

.cursor-pointer{
  cursor: pointer;
}

.login-container{
  width:100%;
  display:flex;
  justify-content: center;
  height: calc(100vh - 5rem);
  align-items: center;
  .button, a{
    color: white;
    height:fit-content;
    text-decoration: none;
  }
}

.help-button{
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2rem;
  padding: 0;
  border: solid white;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.help-question{
  li { padding: 0.5rem;}
  span { color: #1db954;}
}